[Desktop Entry]
Name=QuoteSee
Comment= Plasmoid to track stock and currency quotes
Type=Service
ServiceTypes=Plasma/Applet
 
X-KDE-Library=plasma_applet_quotesee
X-KDE-PluginInfo-Author=Jan Zegan
X-KDE-PluginInfo-Email=jzegan@gmail.com
X-KDE-PluginInfo-Name=plasma_applet_quotesee
X-KDE-PluginInfo-Version=0.2.2
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

Icon=quotesee
